﻿@model IEnumerable<MvcMusic.Models.ViewModels.SongVM>

@{
    ViewBag.Title = "Index";
}

<h2>Songs</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Songs", FormMethod.Get))
    {
    <p>
        Genre: @Html.DropDownList("Genre", "All Genre")
        Title: @Html.TextBox("Song")
        Singer: @Html.TextBox("Singer")
        <input type="submit" value="Search" />
    </p>
}
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Singer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Singer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        @if (User.IsInRole("Admin") | User.IsInRole("Moderator"))
        {
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @if (User.IsInRole("Admin"))
            { 
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
    </td>
        }
    </tr>
        }

    </table>
